* {
    box-sizing: border-box;
  }
  

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 20px;
        background-image: url("./Images/background.jpg");
        background-attachment: fixed;
    }

    ::selection{
        background:lightblue;
        color:black;
    }


    .nav li {
        display: inline;
    }

    .nav ul{
        margin:0;
    }

    .nav a{
        display:inline-block;
    }

  .he1{
      float:left;
  }

  .collapsible {
    background-color: rgb(73, 67, 67);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 15px;
    display:inline-block;
}

.spoiler{ 
    color: black; 
    background-color:black;
  }
  
  .spoiler:hover{
    color: white;
    }

.active, .collapsible:hover {
    background-color: black;
}

.collapsible:focus {
    background-color:black;
  }


.content {
    background-color: rgb(73, 67, 67);
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.3s ease-out;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.center{
    text-align: center;
}

  .he2{
    float:right;
    color: white;
  }

  .card {
    background-color: rgb(73, 67, 67);
    padding: 30px;
    margin-top: 20px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
 }

  .sticky {
    position: fixed;
    top: 0;
    width: 95%
  }


  a:link{
      color:white;
      background-color:transparent;
      vertical-align: middle;
      text-decoration: none;
  }

  a:visited{
      color:white;
      background-color:transparent;
      vertical-align: middle;
      text-decoration: none;
  }

  a:hover{
      color:green;
      background-color:transparent;
      vertical-align: middle;
      text-decoration: none;
      text-decoration: none;
  }
  
  h2 {
      color:white;
  }

  h5{
      color:white
  }

  p{
      color:white
  }

  .header {
    padding: 30px;
    font-size: 20px;
    background: rgb(36, 36, 36);
    color:white;
    height: 130px;
  }
  
  #HCB_comment_box {
    color:white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(73, 67, 67);
    padding: 30px;
  }

  .button{
      border: none;
      background-color:rgb(36, 36, 36);
      color: white;
  }

  .button:hover{
      background-color: white;
      color:green
  }
  
