* {
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background: black;
  }

  h2 {
      color:white;
  }

  h5{
      color:white
  }

  p{
      color:white
  }

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: black;
    color:white;
  }
  
  .card {
     background-color: rgb(73, 67, 67);
     padding: 20px;
     margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
